:root {
  --red: #c64040;
  --light: #d0c7c7;
  --background: #d7d7d7;
  --white: #ffffff;
  --gray: #ababab;
  --darker-gray: #868686;
  --black: #252629;
  --green: #47b483;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
