@import './global.css';

.header {
    height: 40vh;
    align-items: center;
    justify-content: center;
    position: relative;
}

.responsive{
  max-width:90%;
  max-height:80%;
}

.center{
  position: absolute;
  top: 50%;
  left: 55%; 
  transform: translate(-50%, -50%);
}