@import "./global.css";

.loginPage {
  background: var(--red);
}

.loginPage__main {
  background: var(--white);
  height: 35em;
  border-top: 5px solid var(--black);
  border-radius: 30px 30px 0 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main__form {
  display: flex;
  flex-direction: column;
  max-width: 32rem;
  gap: 2rem;
}

.text {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--black);
  /* margin-right: 10px; */
  display: flex;
  align-items: center;
}

.formControl {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
  margin: 2em;
  font-size: 0.9rem;
  color: var(--red);
  min-height: 23px;
  position: relative;
}

.form__input {
  color: var(--red);
}
